* {
    user-select: none;
}
body {
    background-image: url("../Grafiikat/Kuvat/Taivas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#stats {
    position: fixed;
    top: 200px;
    left: 20px;
    gap: 10px;
    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 50px yellow;
    font-style: italic;
}

#stats img {
    width: 60px;
    height: 60px;
}

img[onclick] {
    cursor: pointer;
}

#Jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
}

#Juoma {
    position: fixed;
    top: 45vh;
    left: 95vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
}

#Doom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    pointer-events: none;
    z-index: 9999;
}

#Ascension_Kauppa {
    position: fixed;
    top: 5%;
    left: 15%;
    text-align: center;
}

#Skill_Tree {
    position: fixed;
    top: 5%;
    left: 50%;
    text-align: left;
}

img[id^="skill"] {
    width: 100px;
    height: 100px;
    margin: 2px;
    position: relative;
    display: inline-block;
}

.Kehys {
    display: inline-block;
    background-image: url('../Grafiikat/Kuvat/Kehys.png');
    background-size: cover;
    padding: 5px;
}