* {
    user-select: none;
}
body {
    background-image: url("../Grafiikat/Kuvat/Taivas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#stats {
    position: fixed;
    top: 200px;
    left: 20px;

    gap: 10px;

    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 50px yellow;
    font-style: italic;
}

.stats-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

#stats img {
    width: 60px;
    height: 60px;
}

#Skill_Tree .points {
    position: absolute;
    top: 200px;
    left: 50px;

    display: flex;
    align-items: flex-end;
    gap: 10px;

    font-size: 1em;
    color: white;
    text-shadow: 0px 0px 5px yellow;
}

img[onclick] {
    cursor: pointer;
}

#Jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
}

#Juoma {
    position: fixed;
    top: 45vh;
    left: 95vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
}

#Doom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    pointer-events: none;
    z-index: 9999;
}

#Skill_Tree {
    position: fixed;
    top: 1%;
    left: 45%;
    background-image: url(../Grafiikat/Kuvat/Skill_Background.png);
    width: 800px;
    border-radius: 50px;
    height: 900px;
}

#Ascension_Kauppa {
    position: fixed;
    top: 1%;
    left: 15%;
    background-image: url(../Grafiikat/Kuvat/Skill_Background.png);
    width: 550px;
    border-radius: 100px;
    min-height: 900px;
}

#Skill_Tree #title, #Ascension_Kauppa #title {
    display: block;
    margin-top: -70px;
    margin-left: 200px;
    color: white;
    font-size: 2em;
    text-shadow: 0px 0px 10px black, 0px 0px 20px yellow;
    font-weight: bold;
}

#Skill_Tree #Pisteet {
    display: inline-block;
    font-size: 2em;
    color: white;
    text-shadow: 0px 0px 5px yellow;
}

#title {
    display: block;
    color: white;
    font-size: 5em;
    text-shadow: 0px 0px 10px black, 0px 0px 20px yellow;
    font-weight: bold;
}