* {
    user-select: none;
}
body {
    background-image: url("../Grafiikat/Kuvat/Taivas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#stats {
    border: solid 1px orangered;
    box-shadow: inset 0px 0px 10px orange, 0px 0px 10px orange;
    font-size: 100px;
    color: white;
    text-shadow: 0px 0px 50px yellow;
    font-style: italic;
}
img[onclick] {
    cursor: pointer;
}

#Jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
}