body {
    position: relative;
    background-color: black;
    overflow: hidden;
}
#Collector {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    cursor: pointer;
}
#Stats_panel {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 400px;
    height: 300px;
    background-image: url('../Grafiikat/Kuvat/Stats_panel.png');
    background-size: cover;
    background-position: center;
}
#stats {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
}

#stats span {
    margin: 5px 0;
    padding: 0;
    color: white;
    text-shadow: 0px 0px 5px greenyellow;
    font-size: 1em;
}
#upgrades {
    position: absolute;
    top: 75%;
    left: 75%;
    outline: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
}
#upgrades img {
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#SahkoKauppa, #CollectorKauppa, #TukiKauppa {
    position: fixed;
    top: 15%;
    left: 75%;
    border: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
}
span {
    color: white;
    text-shadow: 0px 0px 5px greenyellow;
    margin: 5px;
}
#Pistorasia {
    position: fixed;
    top: 75%;
    left: 5%;
    cursor: default;
}
#Haarukka {
    position: fixed;
    top: 20%;
    left: 70%;
    cursor: grab;
}

#title {
    font-size: 20px;
}
img[onclick] {
    cursor: pointer;
}

#Bulk {
    position: fixed;
    top: 2%;
    left: 69%;
    border: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Ostokerroin {
    color: white;
    text-shadow: 0px 0px 5px greenyellow;
    font-size: 50px;
    width: auto;
    height: auto;
}

* {
    user-select: none;
}

#Jellona {
    position: absolute;
    left: 15%;
}

#Reset {
    position: fixed;
    cursor: pointer;
    top: 80%;
    left: 80%;
}
#Tuli {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

#Doom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

