body {
    position: relative;
    background-color: black;
}
#Collector {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    cursor: pointer;
}
#Stats_panel {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 400px;
    height: 300px;
    background-image: url('../Grafiikat/Kuvat/Stats_panel.png');
    background-size: cover;
    background-position: center;
}
#stats {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
}

#stats span {
    margin: 5px 0;
    padding: 0;
    color: white;
    text-shadow: 0px 0px 5px greenyellow;
    font-size: 1em;
}
#upgrades {
    position: absolute;
    top: 75%;
    left: 75%;
    outline: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
}
#upgrades img {
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#SahkoKauppa, #CollectorKauppa, #TukiKauppa {
    position: fixed;
    top: 15%;
    left: 75%;
    border: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
}
span {
    color: white;
    text-shadow: 0px 0px 5px greenyellow;
    margin: 5px;
}
#Pistorasia {
    position: fixed;
    top: 75%;
    left: 5%;
    cursor: default;
}
#Haarukka {
    position: fixed;
    top: 5%;
    left: 70%;
    cursor: default;
}
[id^="kuva"] {
    outline: 1px solid white;
    box-shadow: inset 0 0 10px greenyellow, 0 0 10px greenyellow;
}